@import "google-fonts";
@import "variable-overrides";
@import "bootstrap/scss/bootstrap";
// @import 'sticky-footer';

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#book p span {
  display: inline-block;
  width: 130px;
}

#modal1 p span {
  display: table-caption;
  width: 130px;
}
