@import 'google-fonts';
@import 'variable-overrides';
@import 'bootstrap/scss/bootstrap';
@import 'sticky-footer';


// Add extra top margin to the first row
// in the main element
// because our navbar is fixed
// main .row:first-of-type {
//   margin-top: 80px;
// }


// Some styling for photos
// the height in viewports widths
// helps keeping nice proportions

// .photo {
//   height: 20vw;
//   width: 100%;
// }

// A 'fake' logo
// .logo {
//   font-family: 'Carter One';
//   display: inline-block;
//   margin-right: 40px;
//   margin-top: -5px;
// }

// .box {
//   background-color: rgb(142, 142, 212);
//   border: 1px solid black;

// }

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#book p span {
  display: inline-block;
  width: 130px;
}

#modal1 p span {
  display: table-caption;
  width: 130px;
}