@import "bootstrap/scss/functions";

// Overrides
$font-size-base: 1.2rem;

// Set custom colors
$primary: #8ab1db;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

// NOTE: You can find all the variable names
// and default settings here
// (uncomment temporarily and follow the link
//  using command ctrl/cmd click in VSC)
// @import 'bootstrap/scss/variables';
